<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>
  <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/enabled.js"></script>
  <script src="js/operation.js"></script>
  <script src="js/regex.js"></script>
  <script src="js/matrixes.js"></script>

</head>
<body ng-app="starter">

<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Time Calculator</h1>
  </ion-header-bar>
  <ion-content>
    <div class="container" ng-controller='basic'>
      <table class="calculator">
        <tr><td colspan="5"><input class="result" type="text" value="{{number}}" disabled="disable" ></td></tr>
        <tr>
          <td> <input class="btn btn-primary calc-btn-number" type="button" value="7" ng-click="check('7')" ng-disabled = "arr.num7" /></td>
          <td> <input class="btn btn-primary calc-btn-number" type="button" value="8" ng-click="check('8')" ng-disabled = "arr.num8"/></td>
          <td> <input class="btn btn-primary calc-btn-number" type="button" value="9" ng-click="check('9')" ng-disabled = "arr.num9"/></td>
          <td> <input class="btn btn-primary calc-btn-stamp" type="button" value="years" ng-click="check('y')" ng-disabled = "arr.year"/></td>
          <td> <input class="btn btn-primary calc-btn-stamp" type="button" value="months" ng-click="check('mon')" ng-disabled = "arr.mon"/></td>
        </tr>
        <tr>
          <td><input class="btn btn-primary calc-btn-number" type="button" value="4" ng-click="check('4')" ng-disabled = "arr.num4"/></td>
          <td><input class="btn btn-primary calc-btn-number" type="button" value="5" ng-click="check('5')" ng-disabled = "arr.num5"/></td>
          <td><input class="btn btn-primary calc-btn-number" type="button" value="6" ng-click="check('6')" ng-disabled = "arr.num6"/></td>
          <td><input class="btn btn-primary calc-btn-stamp" type="button" value="weeks" ng-click="check('w')" ng-disabled = "arr.week"/></td>
          <td><input class="btn btn-primary calc-btn-stamp" type="button" value="days" ng-click="check('d')" ng-disabled = "arr.day"/></td>
        </tr>
        <tr>
          <td><input class="btn btn-primary calc-btn-number" type="button" value="1" ng-click="check('1')" ng-disabled = "arr.num1"/></td>
          <td><input class="btn btn-primary calc-btn-number" type="button" value="2" ng-click="check('2')" ng-disabled = "arr.num2"/></td>
          <td><input class="btn btn-primary calc-btn-number" type="button" value="3" ng-click="check('3')" ng-disabled = "arr.num3"/></td>
          <td><input class="btn btn-primary calc-btn-stamp" type="button" value="hours" ng-click="check('h')" ng-disabled = "arr.hour"/></td>
          <td><input class="btn btn-primary calc-btn-stamp" type="button" value="minutes" ng-click="check('min')" ng-disabled = "arr.min"/></td>
        </tr>
        <tr>
          <td><input class="btn btn-primary calc-btn-number" type="button" value="0" ng-click="check('0')" ng-disabled = "arr.num0"/></td>
          <td><input class="btn btn-primary calc-btn-number" type="button" value="." ng-click="check('.')" ng-disabled = "arr.dot"/></td>
          <td><input class="btn btn-primary calc-btn-operator" type="button" value=":" ng-click="check(':')" ng-disabled = "arr.colon"/></td>
          <td><input class="btn btn-primary calc-btn-operator" type="button" value="/" ng-click="check('/')" ng-disabled = "arr.slash"/></td>
          <td><input class="btn btn-primary calc-btn-stamp" type="button" value="secs" ng-click="check('sec')" ng-disabled = "arr.sec"/></td>
        </tr>
        <tr>
          <td><input class="btn btn-primary calc-btn-operator" type="button" value="+" ng-click="operation('+')" ng-disabled = "arr.plus"/></td>
          <td><input class="btn btn-primary calc-btn-operator" type="button" value="-" ng-click="check('-')" ng-disabled = "arr.sub"/></td>
          <td><input class="btn btn-primary calc-btn-operator" type="button" value="%" ng-click="check('%')" ng-disabled = "arr.div"/></td>
          <td><input class="btn btn-primary calc-btn-operator" type="button" value="*" ng-click="check('*')" ng-disabled = "arr.multi"/></td>
          <td> <input class="btn btn-primary calc-btn-operator" type="button" value="to" ng-click="check('to')" ng-disabled = "arr.to"/></td>
        </tr>
        <tr>
          <td colspan="3"> <input class="btn btn-primary calc-btn-operator " type="button" value="=" ng-click="check('=')" ng-disabled = "arr.equal"/></td>
          <td> <input class="btn btn-primary calc-btn-operator" type="button" value="<=" ng-click="check('<=')" ng-disabled = "arr.back"/></td>
          <td> <input class="btn btn-primary calc-btn-operator" type="button" value="c" ng-click="check('C')"/></td>
        </tr>
      </table>
    </div>
  </ion-content>
</ion-pane>
</body>
</html>
